body {
  padding: 0;
  margin: 0;
  transition: background 1s linear;
}
.prerendered-para {
  margin: 2rem;
}
.update-iframe {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
}
.cache-status-message {
  margin: 2rem;
}
.cache {
  display: inline-block;
  margin: 2rem;
  border: 20px solid black;
  padding: 10px 0px;
  width: 6rem;
  height: 6rem;
  list-style: none;
  opacity: 1;
  transition: all 2s ease;
}
.cache--incoming {
  border-color: #888;
}
.cache.is-dismissed {
  transform: translateX(-100%);
  opacity: 0;
}
.cache.is-to-load {
  transform: translateX(50%);
  opacity: 0;
}
.cache.is-swapped {
  transform: translateX(calc(-100% - 4rem));
  border-color: black;
}
.cache__item {
  font-size: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 0;
  padding: 8px;
  font-family: sans-serif;
  background: #333;
  color: #fff;
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.5s ease-out;
}
.cache__item.is-loaded {
  opacity: 1;
  transform: translateX(0);
}
